<%= link_to '<<Back' , boards_path%>
<h1> <%= @title %> </h1>
<table>

<tr>

    <% @lists.each do |list| %>
        <th>

            <div class="dropdown">

                <a class = "dropdown-item" href= <%= todos_path(:list_id => list.id)%> > 
                    <h4> <%= list.name %> </h4>
                </a>
                
                <a class = "dropdown-item" href= <%= edit_list_path(list)%> >
                    Edit List
                </a>

                <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= button_to "Delete List" , list_path(list) , method: :delete %>
                </div>
    
                <a class = "dropdown-item" href= <%= new_todo_path(:id=> list.id ,:board_id =>@board_id)%> >
                    Add Todo
                </a>
                
            </div>

        </th>

    <%end%>
    
    <th>
        <td> <%= link_to("Create-List" , new_list_path(@board_id))%> </td>
    </th>

</tr>

</table>