<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
  <div class="field">
    <%= f.label :Login %><br />
    <%= f.text_field :login ,autofocus: true %>
  </div>

  <div class="field"> 
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
  

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="btn-group" role="group" aria-label="Basic example">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>