<h1>Update Todo</h1>
<%= form_for(@subtask) do |f|%>
    <%= f.text_field(:title,placeholder: 'Title') %>
    <%= f.text_field(:description,placeholder: 'Description') %>
    <%= f.submit() %>   
<%end%>