<h1>ToDo-Information</h1>
<br>
<h2>Title</h2>
<%= @todo.title %>
<br>
<h2>Description</h2>
<%= @todo.description %>
<br>
<button>
<%= link_to("Edit" ,edit_subtask_path(@todo.id),  :class => 'action edit') %>
</button>
<br>
<%= button_to "Delete" ,subtask_path(@todo.id), method: :delete %>